@font-face {
    font-family: 'OpenSans';
    src: url('font/OpenSans-Regular.eot');
    src: url('font/OpenSans-Regular.ttf') format('trueType'),
         url('font/OpenSans-Regular.woff') format('woff');
}

body {
    font-family: 'OpenSans';
}

/* Id */
#content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 auto;
    padding: 2em;
    width: 1200px;
}

/* Element */
p {
    font-family: 'OpenSans';
    font-size: 1em;
    color: #454545;
    line-height: 1.5;
}

/* Class */
.thumb {
    float: right;
    margin: 2em;
    border-left: 1px solid #454545;
    padding-left: 2em;
}


/* Element avec class */
h1.firstHeading {
    font-family: 'OpenSans';
    font-weight: bold;
    color: #454545;
}

/* Element descendant */
div p a {
    color: blue;
    font-family: 'OpenSans';
    font-weight: lighter;
}

/*Grouping*/
li,
ol,
td {
    color: darkslategray;
    font-family: 'OpenSans';
    line-height: 1.5;
}